<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
<head>
  <meta charset="UTF-8">
  <title>Invoice Generator</title>
</head>
<body>
<div align="center">
  <h1>Registration Succeeded!</h1>
    <span>Numar factura: </span><span th:text="${invoice.numarFactura}"></span><br>
    <span>Data scadenta :</span><span th:text="${invoice.dataScadenta}"></span><br>
    <span>Perioada servicii :</span><span th:text="${invoice.perioadaServiciiStart}"></span><br>
    <span>Perioada servicii :</span><span th:text="${invoice.perioadaServiciiEnd}"></span><br>
    <span>Cantitate :</span><span th:text="${invoice.cantitate}"></span><br>
  <br/>

    Client:
  <br/>
    <span>Display name :</span><span th:text="${invoice.client.displayName}"></span><br>
    <span>Nume Client :</span><span th:text="${invoice.client.numeClient}"></span><br>
    <span>Numar registru Client :</span><span th:text="${invoice.client.nrRegistruClient}"></span><br>
    <span>Cui Client :</span><span th:text="${invoice.client.cuiClient}"></span><br>
    <span>Banca Client :</span><span th:text="${invoice.client.bancaClient}"></span><br>
    <span>Numar cont Client :</span><span th:text="${invoice.client.nrContClient}"></span><br>
    <span>Adresa Client :</span><span th:text="${invoice.client.adresaClient}"></span><br>
    <span>Numar contract Client :</span><span th:text="${invoice.client.numarContract}"></span><br>
    <span>Contract din data Client :</span><span th:text="${invoice.client.contractDinDataDe}"></span><br>
    <span>pret unitate Client :</span><span th:text="${invoice.client.pretPerUnitate}"></span><br>

</div>
</body>
</html>